extends ../layout.pug

block content
  h1 Book Reviews
  table
    thead
      tr
        th Title
        th Author
        th Rating
        th Review
    tbody#books-list
      //- Will be populated by JavaScript

  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="/js/home.js")